{% extends 'base.html.twig' %}

{% block body %}
    <h1>Metaelection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metaElection.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if metaElection.date %}{{ metaElection.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ metaElection.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('metaelection_index') }}">Revenir à la liste</a>
        </li>
        <li>
            <a href="{{ path('metaelection_edit', { 'id': metaElection.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
