{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parti</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parti.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ parti.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parti_index') }}">Revenir à la liste</a>
        </li>
        <li>
            <a href="{{ path('parti_edit', { 'id': parti.id }) }}">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
