{% extends 'base.html.twig' %}

{% block body %}
    <h1>Desk</h1>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ desk.name }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ desk.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('desk_index') }}">Revenir à la liste</a>
        </li>
        <li>
            <a href="{{ path('desk_edit', { 'id': desk.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <a href="{{ path('desk_new') }}">Creer un nouveau bureau</a>

{% endblock %}
